.nav {
  display: flex;
  gap: 20px;
  height: 60px;
  padding: 20px;
  box-shadow: 0 4px 2px -2px gray;
  margin-bottom: 40px;
}
.link {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}
.link:hover,
.link:focus {
  text-decoration: underline;
}
.active {
  color: orangered;
}
